@model WebProveedoresN.DTOs.InviteUserDTO
@{
    ViewData["Title"] = "Invitar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["Message"] as string;
}
<div class="card">
    <div class="card-header">
        <h3>Invitar Usuario</h3>
    </div>
    <div class="card-body">
        <form asp-action="InviteUser" asp-controller="Start" method="post">
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-info">
                    @message
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Nombre Completo </label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Email" type="text" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirma Contraseña</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">
                <i class="bi bi-envelope-arrow-up-fill"> Enviar Invitacion</i>
            </button> |
            <a asp-action="Listar" asp-controller="Start" class="btn btn-outline-info btn-sm">
                <i class="bi bi-arrow-left-circle">  Regresar</i>
            </a>
        </form>

    </div>
</div>
