@model UsuarioDTO
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["Message"] as string; 
    var status = ViewBag.Status as List<StatusDTO>;
}
<div class="card">
    <div class="card-header">
        <h3>Editar Usuario</h3>
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Inicio" method="post">
            <input asp-for="Token" type="hidden" class="form-control"/>
            <input asp-for="Clave" type="hidden" class="form-control"/>
            <input asp-for="Empresa" type="hidden" class="form-control"/>
            <input asp-for="IdUsuario" type="hidden" class="form-control"/>
            <input asp-for="Confirmado" type="hidden" class="form-control"/>
            <input asp-for="Restablecer" type="hidden" class="form-control"/>
            <input asp-for="Roles" type="hidden" class="form-control" />
            <input asp-for="SupplierId" type="hidden" class="form-control" />
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-info">
                    @message
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Nombre Completo </label>
                <input asp-for="Nombre" type="text" class="form-control" >
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="email" class="form-control" >
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Esta">Estatus</label>
                <select asp-for="IdStatus" class="form-select" id="Esta">
                    <option selected>Seleccione de estatus</option>
                    @foreach (var items in status)
                    {
                        <option value="@items.IdStatus">@items.Status</option>
                    }
                </select>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary"> Guardar</button> |
            <a asp-action="Listar" asp-controller="Inicio" class="btn btn-outline-warning"> Volver a la lista</a>
        </form>
    </div>
</div>