@model UsuarioDTO
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mensaje = TempData["Mensaje"] as string; 
    var status = ViewBag.Status as List<StatusDTO>;
    var roles = ViewBag.Roles as List<string>;
}
<div class="card">
    <div class="card-header">
        <h3>Crear Contacto</h3>
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Usuario" method="post">
            @if (!string.IsNullOrEmpty(mensaje))
            {
                <div class="alert alert-info">
                    @mensaje
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Nombre Completo </label>
                <input asp-for="Nombre" type="text" class="form-control" >
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Empresa</label>
                <input asp-for="Empresa" type="text" class="form-control" >
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="text" class="form-control" >
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Clave" type="password" class="form-control" >
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Esta">Estatus</label>
                <select asp-for="IdStatus" class="form-select" id="Esta">
                    <option selected>Seleccione de estatus</option>
                    @foreach (var items in status)
                    {
                        <option value="@items.IdStatus">@items.Status</option>
                    }
                </select>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Roles">Roles</label>
                <select asp-for="Roles" class="form-select" id="Roles">
                    @foreach (var rol in roles)
                    {
                        <option value="@rol">@rol</option>
                    }
                </select>
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-outline-warning"> | Volver a la lista</a>
        </form>
    </div>
</div>

