@model UsuarioModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mensaje = TempData["Mensaje"] as string; 
}
<div class="card">
    <div class="card-header">
        <h3>Editar Usuario</h3>
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Usuario" method="post">
            <input asp-for="Token" type="hidden" class="form-control"/>
            <input asp-for="Clave" type="hidden" class="form-control"/>
            <input asp-for="Empresa" type="hidden" class="form-control"/>
            @if (!string.IsNullOrEmpty(mensaje))
            {
                <div class="alert alert-info">
                    @mensaje
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Nombre Completo </label>
                <input asp-for="Nombre" type="text" class="form-control" >
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="email" class="form-control" >
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Acc">Acceso</label>
                <select asp-for="IdAcceso" class="form-select" id="Acc">
                    <option selected>Tipo de Acceso</option>
                    <option value="1">Administrador</option>
                    <option value="2">Usuario</option>
                </select>
                <span asp-validation-for="IdAcceso" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Esta">Estatus</label>
                <select asp-for="IdStatus" class="form-select" id="Esta">
                    <option selected>Tipo de Estatus</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                    <option value="3">Eliminado</option>
                </select>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-outline-warning"> | Volver a la lista</a>
        </form>
    </div>
</div>